{% macro dict_to_table(d) %}
    <table>
        {% for name, value in d.iteritems() %}
            {% if name %}
                <tr>
                    <td><strong><pre>{{ name|e }}</pre></strong></td>
                    {% if value and hasattr(value, "iteritems") and ismethod(value.iteritems) %}
                        <td>{{ dict_to_table(value) }}</td>
                    {% else %}
                        <td><pre>{{ value|e }}</pre></td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endmacro %}

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <title>Error: {{ message }}</title>
    <style>{{ style|safe }}</style>
</head>
<body>
    <div id="body">
        <div id="exception">
            <h5>{{ error }}</h5>
            <h2>{{ message }}</h2>
        </div>

        <div id="lhs">
            <ul id="frames">
                {% for func, _, instance_class, _, filename, _, line, _, app_local in frames %}
                    <li class="func"
                        data-frame="{{ loop.index }}"
                        data-app-local="{{ app_local }}"
                        data-filename="{{ filename }}"
                        data-line="{{ line }}">
                        <h4>
                            {% if instance_class %}
                                {{ instance_class }}.{{ func }}
                            {% else %}
                                {{ func }}
                            {% endif %}
                        </h4>
                        <h6>in {{ filename }}, line <strong>{{ line }}</strong></h6>
                    </li>
                {% endfor %}
            </ul>

            <select id="editor">
                <option value="emacs">Emacs</option>
                <option value="mvim">MacVim</option>
                <option value="subl">Sublime Text</option>
            </select>

            <div id="toggle">
                <input type="checkbox" id="app-local-toggle" />
                <label for="app-local-toggle">App frames only</label>
            </div>
        </div>

        <div id="rhs">
            {% for func, func_locals, _, instance_locals, filename, source, line, lines, _ in frames %}
                <div class="frame" data-frame="{{ loop.index }}">
                    {% if source %}
                        <div class="section">
                            <h4>Source</h4>
                            <div class="source">
                                {% for relevant, line in source %}
                                    {% if relevant %}
                                        <pre><strong>{{ line|e }}</pre></strong>
                                    {% elif line %}
                                        <pre>{{ line|e }}</pre>
                                    {% else %}
                                        <br/>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="section">
                        <h4>Locals</h4>
                        {{ dict_to_table(func_locals) }}
                    </div>

                    {% if instance_locals %}
                        <div class="section">
                            <h4>Instance</h4>
                            {{ dict_to_table(instance_locals) }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            {% if request %}
                <div class="section">
                    <h4>Request</h4>
                    {{ dict_to_table(request) }}
                </div>
            {% endif %}

            {% if process %}
                <div class="section">
                    <h4>Process</h4>
                    {{ dict_to_table(process) }}
                </div>
            {% endif %}
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>{{ script|safe }}</script>
</body>
</html>
